{% extends 'base.html' %}

{% block content %}
    <section  class="cuerpo">
        <section  class="contenedor">
            <h2>Logs de la aplicación</h2>
            <div class="tabla">
              	<table>
					<tr>
					<th class="otros">Usuario</th>
					<th class="otros">Acción realizada</th>
					<th class="otros">Objeto</th>
					<th class="acciones">Hora</th>
					</tr>
                    {% for log in lista_logs %}
                        <tr>
                        <td class="otros">{{ log.user.username }}</td>
                        <td class="otros">{{ log.change_message }}</td>
                        <td class="otros">{{ log.object_repr }}</td>
                        <td class="otros">{{ log.action_time }}</td>
                        </tr>
					{% endfor %}
				</table>
            </div>
        </section>
    </section>
{% endblock %}