{% extends 'base.html' %}

{% block content %}
    <section  class="cuerpo">
        <section  class="contenedor">
                <h3>Deudas Vehículo: {{ vehiculo.placa }}</h3>
                <div class="botones">
                	<div class="botonIzq margin-left"><a href="{% url 'vehiculos_list' %}"><button class="botonInterno" type="button">Volver a Administración</button></a></div>
                	<div class="botonDer margin-right"><a href="{% url 'registrar_multa' pk=vehiculo.pk %}"><button class="botonInterno" type="button">Nueva Deuda</button></a></div>
            	</div>
            	<div class="tabla">
                <table>
				<tr>
				<th>Descripción</th>
				<th>Valor</th>
				<th>Año</th>
				</tr>
				{% for multa in lista_multas %}
                    <tr>
                    <td>{{ multa.descripcion }}</td>
                    <td>{{ multa.valor }}</td>
                    <td>{{ multa.año }}</td>
                    </tr>
				{% endfor %}
			</table>
            </div>
          </section>
    </section>
{% endblock %}