{% extends 'base.html' %}

{% block content %}
    <section  class="cuerpo">
        <section  class="contenedor">
            <h2>Lista de Usuarios</h2>
            <div class="nuevoVehiculo"><a href="{% url 'registrar_usuario' %}"><button class="botonInterno" type="button">Nuevo usuario</button></a></div>
            <div class="tabla">
              	<table>
					<tr>
					<th class="otros">Nombre</th>
					<th class="otros">Apellido</th>
					<th class="otros">Email</th>
                    <th class="otros">Cedula</th>
                    <th class="otros">Telefono</th>
					</tr>
                    {% for usuario in lista_usuarios %}
                        <tr>
                        <td class="otros">{{ usuario.nombre }}</td>
                        <td class="otros">{{ usuario.apellido }}</td>
                        <td class="otros">{{ usuario.email }}</td>
                        <td class="otros">{{ usuario.cedula }}</td>
                        <td class="otros">{{ usuario.telefono }}</td>
                        </tr>
					{% endfor %}
				</table>
            </div>
        </section>
    </section>
{% endblock %}