.cuerpo{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width:100%;
	font-family: 'Merriweather Sans', sans-serif;
}
.botonInterno{
	background-color: #174d4d;
	color: #ffffff;
	border: solid 1px #174d4d;
	border-radius: 2px;
}
.botonInterno:hover{
	background-color: #706f6f;
	border-color: #706f6f;
}
.contenedor{
	width:75%;
	margin: 50px;
	background-color: #ffffff;
	min-height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius:5%;
}
.contenedor *{
		margin-bottom: 1%;
		margin-top: 1%;
}
.tabla{
	width: 75%;
}
table {
	width: 100%;
	border: 1px solid #000;
}
th, td {
	text-align: center;
	vertical-align: top;
	border-collapse: collapse;
	border: 1px solid #000;
	padding: 0.3em;
}
.acciones{
	width: 40%;
}
.otros{
	width: 20%;
}
caption {
	padding: 0.3em;
	color: #fff;
	background: #000;
}
td {
	background: #eee;
}
th{
	background: #d6edf2;
}
a:hover{
	color: #FF6D09;
	text-decoration: none;
}
a{
	text-decoration: none;
}
.nuevoVehiculo{
	width:100%;
	align-items: right;
	text-align: right;
	padding-right: 5%; 
}
.botones{
	width: 100%;
}
.botonIzq{
	display: inline;
	float: left;
}
.botonDer{
	display: inline;
	float: right;
}
.inputRegistrar {
	width: 100%;
}
.margin-left{
	margin-left: 13px; 
}
.margin-right{
	margin-right: 13px;
}
.bloqueado{
	background-color: #c6c6c6;
}
.margin-left1{
	margin-left: 150px; 
}
.ejemplo{
	width: 60%;
}
